.dir-container {
  margin: 15px 47px;
  height: 180px;
  width: 90%;
  overflow: auto;
  border: 1px solid black;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  background-color: #b0b9acad;
}

.dir {
  display: flex;
  justify-content: center;
  margin: 0px;
}

.dir-user-btn {
  border: none;
  width: 100%;
  padding-left: 10px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #7a97aba1;
}

.d-name-label {
  display: flex;
  gap: "10px";
  padding-left: 10px;
  padding-top: 10px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .dir-container {
    margin: 15px 0px;
    margin-left: 22px;
    height: 180px;
    width: 78%;
    overflow: auto;
    overflow-x: hidden;
    border: 1px solid black;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    background-color: #b0b9acad;
  }
}
